
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model UserSignInViewModel


<form method="post">
    <input type="text" name="username"/>
    <br />
    <input type="password" name="password" />
    <button type="submit">giriş</button>
</form>

